<!DOCTYPE html>
<html>
<head>
	<title>不定时话题</title>
</head>
<style type="text/css">
.top{
/*	background:url('__CSS__/img/timg.jpg') !important;
	background-repeat:no-repeat !important; 
	background-size:100% 100% !important;*/
	background: linear-gradient(to right, #99D5FF, #76DAFF);
	overflow: hidden !important;
	/*animation: gradientChange 2s infinite;*/
}
/*@keyframes gradientChange  {
    100% {
        background: linear-gradient(90deg,  #e91e1e 0%, #6f27b0 100%);
    }
}*/
.circle1{
	position: absolute;
	width: 250px;
	height: 250px;
	right: 20px;
	top: -180px;
	z-index: 98;
	border-radius: 45%;
	background: #fff;
	animation: rotate 12s linear -5s infinite ;
	overflow: hidden !important;
}
@keyframes rotate
{
	0%{ transform: rotate(0deg) translate(0, 0);}
	50%{ transform: rotate(180deg) translate(-2, 0);;}
	100%{ transform: rotate(360deg) translate(0, 0);; }
}
</style>
<body>
	{include file="public/header" /}
<div id="indexApp" style="width: 100vw;">
	<div class="top">
		<div class="container" style="color: #fff;z-index: 99;">
			<h5 style="margin-top: 70px;">不定时话题</h5>
			<h5>——主题不定时</h5>
			<h5>——内容不定时</h5>
			<h5>——回复不定时</h5>
			<h5>——总之乜卵都不定时</h5>
		</div>
		<div class="circle1" style="background: #99FFFF;"></div>
		<div class="circle1" style="top: -185px;animation: rotate 11.9s linear -5s infinite;"></div>
	</div>
	<div class="container" style="margin-top: 20px;">
		<div class="panel panel-primary">
		    <div class="panel-heading">
		        <h3 class="panel-title">今日话题：<span style="color: #FFAC38 !important;"> {{vote_data['vote_name']}}</span></h3>
		    </div>
		    <div class="panel-body">
		    	<div id="vote_content"></div>
		    </div>
		</div>
		<div class="panel panel-info">
		    <div class="panel-heading">
		        <h3 class="panel-title">今日投票：<span style="color: #3C3DCE !important;"> {{vote_data['vote_title']}}</span></h3>
		    </div>
		    <div class="panel-body" v-if="is_vote == 0">
				<button type="button" class="btn btn-info" v-on:click="to_vote(2)">{{vote_data['vote_text2']}}</button>
				<button type="button" class="btn btn-success" v-on:click="to_vote(1)">{{vote_data['vote_text1']}}</button>
		    </div>
		    <div class="panel-body" v-else >
		        <h5 class="panel-title">
		        	<p>{{vote_data['vote_text2']}}：<span style="color: #5BC0DE !important;"> {{count_2}}</span> 人</p>
		        	<p>{{vote_data['vote_text1']}}：<span style="color: #5CB85C !important;"> {{count_1}}</span> 人</p>
		        </h5>
				<div class="progress" style="margin-top: 2vh;">
					<div class="progress-bar progress-bar-info" role="progressbar"
						 aria-valuenow="{{count_2_percent}}" aria-valuemin="0" :aria-valuemax="100"
						 :style="{width: count_2_percent+'%'}">
					</div>
				</div>
				<div class="progress">
					<div class="progress-bar progress-bar-success" role="progressbar"
						 aria-valuenow="{{count_1_percent}}" aria-valuemin="0" :aria-valuemax="100"
						 :style="{width: count_1_percent+'%'}">
					</div>
				</div>
		    </div>
		</div>
		<!-- 评论 -->
<!-- 		<div class="panel panel-success">
		    <div class="panel-heading">
		        <h3 class="panel-title">评论</h3>
		    </div>
		    <div class="panel-body">
				<div class="media">
				  <div class="media-left media-top">
				    <img src="__CSS__/img/img_avatar.jpg" class="media-object" style="width:60px;">
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">置顶</h4>
				    <p>这是一些示例文本...</p>
				  </div>
				</div>
		    </div>
		</div> -->
<!-- 		<div style="position: relative;bottom: 0;left: 0;background: #fff;border-top:1px solid #999eee;width:100%;margin: 0 auto;">
			<input id="in" type="text" name="" style="border-bottom:1px solid 666;">
		</div> -->
	</div>
</div>

<div style="width: 100%;margin: 0 auto;color: #999999;font-size: 12px;">
	<div style="text-align: center;">©2018 不定时话题 粤ICP备18143213号</div>
</div>

</body>

<script type="text/javascript">
var indexApp = new Vue({
	el: '#indexApp',
	data:{
		vote_data: [],
		loginText:'',
		loginId: '{$loginId}',
	  	nickname: '{$nickname}',
	  	is_vote: 0,
	  	count: 0,
	  	count_1: 0,
	  	count_2: 0,
	  	count_1_percent: 0,
	  	count_2_percent: 0,
	},
	created(){
		var that = this;
		$.ajax({
			type:"GET",
			url: "/index/Index/vote_load",
			success:res=>{
				console.log(JSON.parse(res));
		      	var res = JSON.parse(res);
		      	if(res.status == 200){
		      		that.vote_data = res.data.vote;
		      		var vote_content = document.getElementById('vote_content');
		      		vote_content.innerHTML = res.data.vote['vote_content'];
		      		// 计算投票总数
		      		that.vote_count(res.data.count, res.data.count_1, res.data.count_2);

		      		if (that.loginId != '') {
						$.ajax({
							type:"POST",
							url: "/index/Index/vote_user",
							data:{
								user_id: that.loginId,
								vote_id: that.vote_data['id'],
							},
							success:ress=>{
								console.log(JSON.parse(ress));
						      	var ress = JSON.parse(ress);
						      	if (ress.status == 200) {
						      		that.is_vote = 1;
						      	} else {
						      		console.log(ress.msg);
						      	}
							}
						})
		      		}
		      	}else{
		      		console.log(res.msg);
		      	}
			}
		})
	},
	methods:{
		toscorll(){
			// v-on:click="toscorll()"
			setTimeout(function(){
				document.body.scrollTop = document.body.scrollHeight;
			},400);
		},
		vote_count(count, count_1, count_2, new_count = 0){
			var that = this;
			if (new_count == 1) {
				count += 1;
				count_1 += 1;
			}else if (new_count == 2){
				count += 1;
				count_2 += 1;
			}
			// console.log(count+'-'+count_1+'-'+count_2);

			that.count = count;
			that.count_1 = count_1;
			that.count_2 = count_2;
			that.count_1_percent = (count_1 / count ) * 100;
			that.count_2_percent = (count_2 / count ) * 100;
		},
		to_vote(e){
			var that = this;
			if(that.nickname == ''){
				// alert('请先于右上角 注册/登录 !');
				// that.loginText = '登录';
				vue.loginClick(1);
				$('#loginModal').modal('show');
				return;
			}

			$.ajax({
				type:"POST",
				url: "/index/Index/to_vote",
				data:{
					user_id: that.loginId,
					vote_id: that.vote_data['id'],
					vote: e
				},
				success:res=>{
					console.log(JSON.parse(res));
			      	var res = JSON.parse(res);
			      	if(res.status == 200){
			      		alert(res.msg);
						that.is_vote = 1;
						that.vote_count(that.count, that.count_1, that.count_2, e);
			      	}else{
			      		alert(res.msg);
			      	}
				}
			})
		}
	}
})
</script>
</html>